/*
GUI ER INSPIRERET AF GRUPPE1 EKSAMENPROJEKT i SYS, kan findes på min git her: https://github.com/Castafiore3010/eksamen3semester
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#ffd89b,#19547b);

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;


}
header .logo {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color : #000;
    border-radius: 20px;
    font-weight: bold;
}
header ul li a:hover,
header ul li a.active{
    background: #19547b;
    color: #ffd89b;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #19547b, transparent);
    z-index: 1000;
}
section .logo {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}



#adminButtonText {
    position: absolute;
    white-space: nowrap;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(-150px);

}

.secondPart {
    position: relative;
    padding: 100px;
    background: #19547b;

}
.secondPart h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;

}
.secondPart p {
    font-size: 1.2em;
    color: #fff;
}

.crud-box {
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    padding-bottom: 40px;
    margin-bottom: 400px;

}

.crud-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.crud-box .user-box {
    position: relative;
}
.crud-box .user-box select {
    width: 75%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    overflow-x: hidden;


}

option {
    cursor: pointer;
    margin-top: 5%;
    background: #19547b;
    color: #ffd89b;
}

.crud-box .user-box input {
    width: 75%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.crud-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.crud-box .user-box input:focus ~ label,
.crud-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffd89b;
    font-size: 12px;
}
.crud-box .user-box textarea:focus ~ label,
.crud-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffd89b;
    font-size: 12px;
}

.crud-box .user-box select:focus ~ label,
.crud-box .user-box select:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffd89b;
    font-size: 12px;
}

.crud-box form #resetForm {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: crimson;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 4px;
    margin-left: 30px;
    margin-bottom: 12px;
    letter-spacing: 4px
}

.crud-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #00e676;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 4px;
    margin-left: 30px;
    margin-bottom: 12px;
    letter-spacing: 4px
}
.crud-box #resetForm:hover {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px crimson,
    0 0 25px crimson,
    0 0 50px crimson,
    0 0 100px crimson;
}

.crud-box a:hover {
    background: #00e676;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00e676,
    0 0 25px #00e676,
    0 0 50px #00e676,
    0 0 100px #00e676;
}

.crud-box a span {
    position: absolute;
    display: block;
}

.crud-box #resetForm span {
    position: absolute;
    display: block;
}

.crud-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00e676);
    animation: btn-anim1 1s linear infinite;
}

.crud-box #resetForm span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, crimson);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.crud-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00e676);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

.crud-box #resetForm span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, crimson);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.crud-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00e676);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
.crud-box #resetForm span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, crimson);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.crud-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00e676);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

.crud-box #resetForm span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, crimson);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

#addedTool {
    margin-left: 30px;
    margin-bottom: 15px;
    display: none;
}

.sidebar {
    height: 25%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #19547b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffd89b;
    opacity: 0;
    display: block;



}
.sidebar a:hover {
    color: #ffffff;
}
.sidebar .closeSidebarBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}
.openSidebarBtn {

    font-size: 20px;
    cursor: pointer;
    background-color: #19547b;
    color: #ffd89b;
    padding: 10px 15px;
    border: none;
}

.candidateTable {
    width: 100%;
    border-collapse: collapse;


}
.candidateTable th {
    border: 1px solid #000000;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}
.candidateTable td {
    text-align: center;
    border: 1px solid #000000;
    padding: 8px;
    color: #ffd89b;
}



